#graphpanel {
    border: solid black thin;
}
table {
    border: 2px;
}
#toolcontainer{
    position: relative; 
    width: 475; 
    height: 76; 
    display: grid;
    grid-auto-flow: column;
}
.toolDiv {
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
}
.toolCanv {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 76;

}
/* canvas { border: 1px solid black; } */
