#graphpanel {
border: solid black thin;
}

.icon-card {
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}
table {
    border: 15px;
}

/* canvas { border: 1px solid black; } */
